* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	height: 100%;
	color: #fff;
	background-color: #252B42;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	flex: 1 1 100%;
	overflow: hidden;
}

._container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*-----------------------Header---------------------*/
.header {
	min-height: 147px;
	padding: 30px 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
}
.header__top {
	display: flex;
	justify-content: space-between;
}
.top-header {
	margin: 0 0 20px 0;
}
.top-header__address,
.top-header__telephone {
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
}
 
.header__bottom {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.bottom-header {
}
.bottom-header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	justify-content: space-around;
}
.menu__item {
	flex: 0 1 25%;
	padding: 11px 0 15px 0;	
	text-align: center;
}
.menu__item:not(:last-child) {
	border-right: 1px solid #fff;
}
.menu__link {
	display: block;
	line-height: 150%;
	color: #fff;
}

@media(max-width: 441px) {
	.header__top {
		flex-wrap: wrap;
	}
	.top-header__address {
		margin-bottom: 10px;
	}
	.menu__list {
		flex-wrap: wrap;
	}
	.menu__item {
		flex: 0 1 50%;
	}
	.menu__item:first-child,
	.menu__item:nth-child(2) {
		border-bottom: 1px solid #fff;
	}

	.menu__item:nth-child(2) {
		border-right: none;
	}
}
/*-----------------------Page---------------------*/
.page {
	flex: 1 1 100%;
}
.page__best {
}
.harvest__page {
}
/*-----------------------Main block---------------------*/
.page__main-block {
}
.main-block {
	position: relative;
	padding: 330px 0 150px 0;
	/* padding: 330px 287px 150px 374px; */
}
.main-block__container {
	display: flex;
}
.main-block__body {
	flex: 0 0 69.727%;
	margin: 0 auto;
	
}
.body {
	max-width: 415px;
	min-height: 420px;
	position: relative;
	z-index: 5;
	display: flex;
	align-items: flex-end;
}
.body__buttons {
	display: flex;
	justify-content: space-between;
	max-width: 415px;
}
.body__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 28px;
	max-height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background-color: #998431;
	color: inherit;
	transition: all 0.3s ease 0s;	
}
.body__btn:not(:last-child) {
	margin: 0 30px 0 0;
}
.body__btn:hover {
	background-color: #7c6818;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.main-block__image img {
	
}

@media(max-width: 567px) {
	.body {		
		max-height: 420px;		
		align-items: flex-start;
  }
	.body__buttons {
		flex-wrap: wrap;
	}
	.body__btn:not(:last-child) {
		margin: 0 30px 15px 0;
	}
}
/*--------------Best------------------*/

.best {
	background-color: #282828;
	padding: 100px 0;
}
.best__container {
}

.best__body {
	border: 1px solid #C4C4C4;
	padding: 60px 186px;
}
.body-best {
	text-align: center;
}
.body-best__title {
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 150%;	
	padding: 0 0 40px 0;	
	position: relative;
}

.body-best__line {
	width: 160px;
	height: 1px;
	margin: 0 auto;
	background-color: #C4C4C4;
}

.body-best__text {	
	padding: 40px 0 0 0;
	line-height: 150%;
	margin: 0 0 50px 0;
}

.body-best__image {
}

@media(max-width: 745px) {
	.best {
		padding: 50px 0;
	}
	.best__body {
		padding: 60px 45px;
	}
}

@media(max-width: 447px) {
	.body-best__title {		
		font-size: 32px;
		line-height: 135%;		
  }
}

/*---------------------Harvest--------------------------------*/

.harvest {
	padding: 80px 0;
	background-color: #E6E3C4;
}
.harvest__container {
}
.harvest__row {
	padding: 60px 0;
	border-top: 1px solid #998431;
	border-bottom: 1px solid #998431;
	display: flex;
}

.row-harvest__body {
	flex: 0 0 50%;
	padding-right: 30px;
}

.row-harvest__body>*:not(:last-child) {
	margin: 0 0 30px 0;
}
.row-harvest__title {
	line-height: 150%;
	color: #000000;
	
}
.row-harvest__subtitle {
	font-family: 'Playfair Display';
	font-weight: 600;
	font-size: 36px;
	line-height: 150%;
	color: #282828;
}
.row-harvest__line {
	width: 160px;
	height: 1px;
	background-color: #282828;
}
.row-harvest__description {
	font-size: 14px;
	line-height: 150%;
	color: #282828;
	max-width: 445px;
}

td:first-child {
	border-right: 1px solid #282828;
	padding: 26px 24px 26px 19px; 
	color: #282828;
}
td:nth-child(2) {
	padding: 10px 15px 15px 30px; 
}
table {
	border-collapse: collapse;
 }
 
 tr:not(:last-child) {
	border-bottom: 1pt solid #282828;
 }
 td h3 {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #282828;
 }

 td p {
	font-size: 14px;
	line-height: 150%;
	color: #282828;
	
 }
 td p:not(:last-child) {
	margin: 0 0 5px 0;
 }

.row-harvest__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 30px;
	max-height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background-color: #998431;
	color: inherit;
	transition: all 0.3s ease 0s;	
}

.row-harvest__button:hover {
	background-color: #7c6818;
}
.row-harvest__images-box {
	flex: 1 1 540px;
}
.box-images {
	flex: 0 1 540px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	}

.box-images__img-big {
	display: flex;
	position: relative;
	padding-bottom: 92.592%;
	justify-content: space-between;
}

.box-images__img-small {
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 30px;
	
}

.img-small__cover {
	position: relative;
	padding-bottom: 42.222%;
	flex: 0 1 50%;
}

@media(max-width: 992px) {
	.harvest__row {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.row-harvest__body {
		flex: 1 1 70%;
		padding-right: 0;
		text-align: center;
	}
	.row-harvest__images-box {
		flex: 0 1 70%;
	}
	.row-harvest__body>*:not(:last-child) {
		margin: 0 auto 30px auto;
  }
  .row-harvest__description {
		max-width: auto;
}
.row-harvest__body {	
	margin-bottom: 30px;
}
}

@media(max-width: 479px) {
.harvest {
	padding: 40px 0;
}
.harvest__row {
	padding: 40px 0;
}
}

/*------------------------Tasting----------------------*/

.tasting {
	padding: 90px 0 100px 0;
	background-color: #282828;
}
.tasting__container {
	text-align: center;
	position: relative;
}
.tasting__container::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 346px;
	left: -157px;
	bottom: 30.9%;
	background-color: #C4C4C4;
	transform: rotate(-90deg);
}
.tasting__container::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 404px;
	right: -186px;
	bottom: 35.9%;
	background-color: #C4C4C4;
	transform: rotate(-90deg);
}

.tasting__text {
	margin: 0 0 81px 0;
}
.tasting__title {
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 150%;
	color: #FFFFFF;
	padding: 0 0 40px 0;
	position: relative;
	max-width: 490px;
	margin: 0 auto;
}
.tasting__title::before {
	content: "";
	position: absolute;
	width: 81px;
	height: 3px;
	background-color: #C4C4C4;
	left: -77px;
	top: 30px;
}
.tasting__title::after {
	content: "";
	position: absolute;
	width: 81px;
	height: 3px;
	background-color: #C4C4C4;
	right: -77px;
	top: 30px;
}
.tasting__line {
	width: 118px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto 40px auto;
}
.tasting__subtitle {
	max-width: 540px;
	line-height: 150%;
	margin: 0 auto;
	padding: 0 28px;
	position: relative;
}

.tasting__subtitle::before {
	content: "";
	position: absolute;
	top: -180px;
	left: -316px;
	width: 260px;
	height: 260px;
	background-repeat: no-repeat;
	background-image: url("../img/tasting/01.png");
}
.tasting__subtitle::after {
	content: "";
	position: absolute;
	top: -180px;
	right: -331px;
	width: 260px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url("../img/tasting/02.png");
}


.tasting__form {
	display: flex;
	flex-wrap: wrap;
	max-width: 540px;
	margin: 0 auto;
	justify-content: center;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 80px;
	
}
input {
	border-bottom: solid 1px #fff;
	background-color: #282828;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	color: #FFFFFF;
	min-height: 30px;
}
.tasting__input-name {
	flex: 0 1 255px;
	margin-bottom: 40px;	
}
.tasting__input-telephone {
	margin-bottom: 40px;
	flex: 0 1 255px;
}
.tasting__input-address {
	flex: 1 1 100%;
}
.tasting__input-address:not(:last-child) {
	margin: 0 0 50px 0;
}
.tasting__button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
	border: solid 1px #fff;
	background-color: #282828;
	flex: 1 1 100%;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all 0.3s ease 0s;	
}
.tasting__button:hover {	
	border: solid 1px #282828;
	background-color: #FFFFFF;	
	color: #282828;
}
.tasting__line2 {
	margin-left:auto;
	margin-right: auto;
	height: 1px;
	background-color: #C4C4C4;
}

@media(max-width: 670px) {
	.tasting__title {		
		max-width: 250px;
  }
  .tasting__title::after,
  .tasting__title::before {	
	top: 56px;
}
.tasting__form {	
	padding: 0 15px;	
}

.tasting__container::before,
.tasting__container::after {
	display: none;
}
.tasting__form {
	flex-wrap: wrap;
}
.tasting__input-name,
.tasting__input-telephone {
	flex: 0 1 70%;
	margin-bottom: 20px;	
}
}

@media(max-width: 447px) {
	.tasting {
		padding: 40px 0;
  }
	.tasting__title::after,
  .tasting__title::before {	
	display: none;
}
.tasting__text {
	margin: 0 0 50px 0;
}
.tasting__form {
	margin-bottom: 50px;
}
.tasting__input-name,
.tasting__input-telephone {
	flex: 0 1 100%;	
}
}
/*---------------------Footer----------------------------*/
.footer {
	background-color: #998431;
	padding: 50px 0;
}
.footer__container {
}
._container {
}
.footer__top {
	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.footer__nav {
}
.nav-footer {
}
.nav-footer__list {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 0 64px;
	align-items: center;
}
.nav-footer__item {
	padding: 0 30px;
	text-align: center;
}

.nav-footer__link {
	font-size: 14px;
	color: inherit;
}
.footer__bottom {
	border-bottom: 1px solid #fff;
}
.footer__bottom-row {
}
.bottom-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 40px;	
}
.bottom-row__column {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0 55px;
	min-height: 60px;
}
.bottom-row__column:not(:last-child) {
	border-right: 1px solid #fff;
}
.column {
	
}
.column__list {
	display: flex;
}
.column__item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.column__item:not(:last-child) {
	margin: 0 35px 0 0;
}
.column__link {
}

@media(max-width: 1084px) {
	.nav-footer__list {
		margin: 0 auto;
		padding: 0;
	}
	.bottom-row {
		padding: 0;
  }
}

@media(max-width: 992px) {
	.nav-footer__list {
		flex-wrap: wrap;
	}
	.nav-footer__item:first-child,
	.nav-footer__item:nth-child(2),
	.nav-footer__item:nth-child(3),
	.nav-footer__item:nth-child(4) {
		flex: 0 1 25%;
	}

	.nav-footer__item:nth-child(5),
	.nav-footer__item:nth-child(6),
	.nav-footer__item:nth-child(7) {
		flex: 0 1 25%;
	}
	.bottom-row {
		display: flex;
		justify-content: space-evenly;
  }
	.bottom-row__column {		
		padding: 0 27px;
  }
  .column__item:not(:last-child) {
	margin: 0 20px 0 0;
}
}

@media(max-width: 755px) {
	.column__list {
		flex-wrap: wrap;
	}
	.bottom-row__column:nth-child(1),
	.bottom-row__column:nth-child(2) {
		flex: 1 1 50%;
		border-bottom: 1px solid #fff;
	}	
	.bottom-row__column:nth-child(2) {
		border-right: none;
	}
	.bottom-row__column:nth-child(3),
	.bottom-row__column:nth-child(4) {
		flex: 1 1 50%;
	}	
}

@media(max-width: 605px) {
	.nav-footer__item {
		flex: 1 1 25.5%;
	}
	.nav-footer__item:not(:last-child) {
		margin-bottom: 15px;
	}
	.nav-footer__list {
		padding: 5px 0;
		justify-content: center;
  }
  .bottom-row__column {
	padding: 0;
}
}